<!DOCTYPE html>
<html>
<head>
    <title>Order Confirmation</title>
</head>
<body>
    <h1>Order Confirmation</h1>
    <h2>Order ID: {{ order_id }}</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for product in order_products %}
            <tr>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
                <td>{{ product[3] }}</td>
                <td><img src="{{ product[4] }}" alt="Product Image" width="100"></td>
                <td>{{ product[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total Price: {{ total_price }}</p>
</body>
</html>
