<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/shipping.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}">
    <title>Add Shipping Information</title>
</head>
<body>
    <h1 class="form-heading">Add Shipping Information</h1>
    <form class="add-shipping-form" action="/add_shipping" method="POST">
        <label for="full_name">Full Name:</label>
        <input type="text" id="full_name" name="full_name" required>

        <label for="street_address">Street Address:</label>
        <input type="text" id="street_address" name="street_address" required>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>

        <label for="state_province">State/Province:</label>
        <input type="text" id="state_province" name="state_province" required>

        <label for="postal_code">Postal Code:</label>
        <input type="text" id="postal_code" name="postal_code" required>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required>

        <input class="submit-button" type="submit" value="Submit">
    </form>
    <footer>
        <div class="container">
          <div class="footer-logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fresh Basket Logo">
          </div>
          <div class="footer-columns">
            <div class="footer-column">
              <h3>Fresh Basket</h3>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Categories</h3>
              <ul>
                <li><a href="#">Fresh Produce</a></li>
                <li><a href="#">Meat & Poultry</a></li>
                <li><a href="#">Beverages</a></li>
                <li><a href="#">Bakery & Bread </a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Follow Us</h3>
              <ul class="social-media-icons">
                <li><a href="https://web.facebook.com/profile.php?id=100089080427306"><img src="{{ url_for('static', filename='images/facebook1.svg') }}" alt="facebook"></a></li>
                  <li><a href="https://twitter.com/Theotsori"><img src="{{ url_for('static', filename='images/twitter1.svg') }}" alt="twitter"></a></li>
                  <li><a href="https://github.com/theotsori"><img src="{{ url_for('static', filename='images/github1.svg') }}" alt="github"></a></li>
                  <li><a href="https://wa.me/message/XPS4G47REHWYD1"><img src="{{ url_for('static', filename='images/whatsapp1.svg') }}" alt="whatsapp"></a></li>
              </ul>
            </div>
            <div class="footer-column">
                <h3>The Team</h3>
                <ul class="social-media-icons">
                  <li><a href="https://web.facebook.com/profile.php?id=100089080427306"><img src="{{ url_for('static', filename='images/facebook.svg') }}" alt="facebook"></a></li>
                  <li><a href="https://twitter.com/Theotsori"><img src="{{ url_for('static', filename='images/twitter.svg') }}" alt="twitter"></a></li>
                  <li><a href="https://github.com/theotsori"><img src="{{ url_for('static', filename='images/github.svg') }}" alt="github"></a></li>
                  <li><a href="https://wa.me/message/XPS4G47REHWYD1"><img src="{{ url_for('static', filename='images/whatsapp.svg') }}" alt="whatsapp"></a></li>
                </ul>
            </div>
          </div>
          <div class="footer-bottom">
            <p>© 2023 Fresh Basket. All Rights Reserved.</p>
          </div>
        </div>
    </footer>
</body>
</html>
