<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/shipping.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}">
	<script src="{{ url_for('static', filename='scripts/shipping.js') }}"></script>
	<title>Add Shipping Information</title>
</head>
<body>
	<div class="container2">
		<div class="form-container">
		  <h1>Add Shipping Information</h1>
		  <form method="POST" action="/shipping">
			<label for="full_name">Full Name:</label>
			<input type="text" id="full_name" name="full_name" required><br>
	
			<label for="street_address">Street Address:</label>
			<input type="text" id="street_address" name="street_address" required><br>
	
			<label for="city">City:</label>
			<input type="text" id="city" name="city" required><br>
	
			<label for="state_province">State/Province:</label>
			<input type="text" id="state_province" name="state_province" required><br>
	
			<label for="postal_code">Postal Code:</label>
			<input type="text" id="postal_code" name="postal_code" required><br>
	
			<label for="country">Country:</label>
			<input type="text" id="country" name="country" required><br>
	
			<input type="submit" value="Submit">
		  </form>
		  <form action="{{ url_for('checkout') }}" method="POST">
			<button type="submit">Checkout</button>
		  </form>
		</div>
	
		<div class="info-container">
		  <h2>Existing Shipping Information</h2>
		  <table>
			<tr>
			  <th>Full Name</th>
			  <th>Street Address</th>
			  <th>City</th>
			  <th>State/Province</th>
			  <th>Postal Code</th>
			  <th>Country</th>
			  <th>Delete</th>
			</tr>
			{% for ship in shipping_info %}
			<tr>
			  <td>{{ ship[2] }}</td>
			  <td>{{ ship[3] }}</td>
			  <td>{{ ship[4] }}</td>
			  <td>{{ ship[5] }}</td>
			  <td>{{ ship[6] }}</td>
			  <td>{{ ship[7] }}</td>
			  <td>
				<form method="POST" action="/shipping">
				  <input type="hidden" name="delete_shipping" value="{{ ship[0] }}">
				  <input type="submit" value="Delete">
				</form>
			  </td>
			</tr>
			{% endfor %}
		  </table>
		</div>
	</div>
	<footer>
		<div class="container">
		  <div class="footer-logo">
			<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fresh Basket Logo">
		  </div>
		  <div class="footer-columns">
			<div class="footer-column">
			  <h3>Fresh Basket</h3>
			  <ul>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms & Conditions</a></li>
			  </ul>
			</div>
			<div class="footer-column">
			  <h3>Categories</h3>
			  <ul>
				<li><a href="#">Fresh Produce</a></li>
				<li><a href="#">Meat & Poultry</a></li>
				<li><a href="#">Beverages</a></li>
				<li><a href="#">Bakery & Bread </a></li>
			  </ul>
			</div>
			<div class="footer-column">
			  <h3>Follow Us</h3>
			  <ul class="social-media-icons">
				<li><a href="https://web.facebook.com/profile.php?id=100089080427306"><img src="{{ url_for('static', filename='images/facebook1.svg') }}" alt="facebook"></a></li>
				  <li><a href="https://twitter.com/Theotsori"><img src="{{ url_for('static', filename='images/twitter1.svg') }}" alt="twitter"></a></li>
				  <li><a href="https://github.com/theotsori"><img src="{{ url_for('static', filename='images/github1.svg') }}" alt="github"></a></li>
				  <li><a href="https://wa.me/message/XPS4G47REHWYD1"><img src="{{ url_for('static', filename='images/whatsapp1.svg') }}" alt="whatsapp"></a></li>
			  </ul>
			</div>
			<div class="footer-column">
				<h3>The Team</h3>
				<ul class="social-media-icons">
				  <li><a href="https://web.facebook.com/profile.php?id=100089080427306"><img src="{{ url_for('static', filename='images/facebook.svg') }}" alt="facebook"></a></li>
				  <li><a href="https://twitter.com/Theotsori"><img src="{{ url_for('static', filename='images/twitter.svg') }}" alt="twitter"></a></li>
				  <li><a href="https://github.com/theotsori"><img src="{{ url_for('static', filename='images/github.svg') }}" alt="github"></a></li>
				  <li><a href="https://wa.me/message/XPS4G47REHWYD1"><img src="{{ url_for('static', filename='images/whatsapp.svg') }}" alt="whatsapp"></a></li>
				</ul>
			</div>
		  </div>
		  <div class="footer-bottom">
			<p>© 2023 Fresh Basket. All Rights Reserved.</p>
		  </div>
		</div>
	</footer>
</body>
</html>
