<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signup.css') }}">
    <title>Fresh Basket: Sign Up</title>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/signup.jpg') }}" alt="Signup Image">
        <h1>Sign Up to Fresh Basket</h1>
        <form id="signin-form" action="signup" method="POST">
            <input type="text" id="name" name="name" placeholder="Name" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="text" id="phone" name="phone" placeholder="Phone" required>
            <input type="password" id="password" name="password" placeholder="Password" required>   
            <input type="submit" value="Sign Up">
            <p>Already have an account? <a class="a-link" href="{{ url_for('signin') }}">Sign In</a></p>
        </form>
    </div>
    <footer>
        <div class="footer-bottom">
            <p>© 2023 Fresh Basket. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
