<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signin.css') }}">
    <script src="{{ url_for('static', filename='scripts/signin.js') }}"></script>
    <title>Fresh Basket</title>
</head>
<body>
    <header>
        <a href="{{ url_for('landing') }}" class="back-button">&larr; Back</a>
    </header>
    <div class="container">
        <img src="{{ url_for('static', filename='images/signin.jpg') }}" alt="signin.jpg">
        <h1>Sign In to Fresh Basket</h1>
        <form id="signin-form" method="POST" action="{{ url_for('signin') }}">
            <input type="text" id="email" name="email" placeholder="Email" required>
            <input type="text" id="phone" name="phone" placeholder="Phone" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <a class="b-link" href="#">Forgot password?</a>
            <button type="submit">Sign In</button>
            <p>Create an account? <a class="a-link" href="{{ url_for('signup') }}">Sign Up</a></p>
          </form>
    </div>
    <footer>
        <div class="footer-bottom">
            <p>© 2023 Fresh Basket. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>