* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

.body-container {
  max-width: 960px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.payment-container {
  margin-bottom: 40px;
}

.payment-container h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.payment-img {
  background-image: url('../images/freshbasket.jpg');
  background-size: cover;
  width: 75%;
  height: 310px;
  margin-top: 10px;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .payment-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}

.ship-container {
  margin-bottom: 40px;
}

.ship-container h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.ship-container p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}

.content-container {
  margin-bottom: 40px;
}

.content-container h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #f55536;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e03d1e;
}

/* CSS code for small screens */
@media screen and (max-width: 768px) {
  .body-container {
    padding: 10px;
  }

  .payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .payment-img {
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }

  .buttons-container {
    flex-direction: column;
    align-items: stretch;
  }

  button {
    margin-top: 10px;
    width: 100%;
  }
}
