/* The following styling is works alround the website */
body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 80px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    height: 600px;
  }
  
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slides:first-child {
    opacity: 1;
  }

  .features {
    text-align: center;
    line-height: 30px;
  }

  .features-containers {
    display: inline-block;
    width: 30%;
    height: 380px;
    border: 1px solid #bbb;
    border-radius: 5%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
  }

  .features-containers:hover {
    transform: scale(1.25);
  }

  .features-containers img {
    object-fit: contain;
    position: relative;
    width: 100%;
    height: 200px;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  .divider {
    font-size: 30px;
    display: flex;
    align-items: center;
  }
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 3px;
    background-color: goldenrod;
    margin: 5px;
  }

  .cart-preview {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .cart:hover .cart-preview {
    display: block;
  }
  
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .features-containers {
      width: 95%;
    }
  }
