/* Header styling for frb */
.header {
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo img {
  max-height: 40px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #ff6f00;
}

nav form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

nav input[type="search"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}

nav button[type="submit"] {
  background-color: #ff6f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

nav button[type="submit"]:hover {
  background-color: #333;
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sign-in {
  margin-right: 20px;
}

.sign-in a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  background-color: 0.3s ease-in-out;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
}

.sign-in a:hover {
  background-color: #333;
  color: #fff;
}

.cart {
  position: relative;
}

.cart span {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #f00;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}

.cart a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-decoration: none;
  font-size: 40px;
  transition: color 0.3s ease-in-out;
  margin-right: 20px;
}

.cart a:hover {
  color: #f00;
}

.profile {
  position: relative;
}

.profile a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-decoration: none;
  /*font-size: 32px;*/
  transition: color 0.3s ease-in-out;
  margin-right: 20px;
}

.profile .icon-large {
  font-size: 40px;
}

.profile a:hover {
  color: orange;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .header {
    padding: 10px;
  }
  
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav ul {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  nav li {
    margin: 5px;
  }
  
  .menu-toggle {
    display: block;
  }
  
  .menu-toggle:before {
    content: "\2630";
    font-size: 24px;
  }
  
  nav {
    display: none;
  }
  
  nav.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  nav.active li {
    margin: 10px;
  }
  
  nav.active li:first-child {
    margin-top: 20px;
  }
  
  nav input[type="search"] {
    margin-right: 0;
    margin-bottom: 10px;
  }
}