body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    padding-top: 80px;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
  
  .profile-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    color: #777;
    margin-bottom: 10px;
  }
  
  .profile-container .icon-large {
    font-size: 72px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .profile-container form button {
    background-color: #ff6f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
  }
  
  .profile-container form button:hover {
  background-color: #333;
}