body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container2 {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin: 0 0 20px;
  color: #333333;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}

input[type="text"] {
  width: 97%;
  padding: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

input[type="submit"],
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

button {
  background-color: #ff7b00;
}

.info-container {
  margin-top: 30px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #aaaaaa;
  text-align: left;
}

th {
  font-weight: bold;
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

form:last-child {
  margin-top: 20px;
  text-align: right;
}
